html
{
    font-family: sans-serif;
}

.title
{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.info-box
{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 80vh;
    width: 20%;
    border-right: 1px solid grey;
}

.info-box-title
{
    text-align: center;
}

.info-box-info
{
    text-align: center;
}

.cookie
{
    position:absolute;
    background-color: red;
    width: 500px;
    height: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
}